/* screen - web-1920-10 */

.web-1920-10 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-10 .group-12-b3OL5d {
  background-color: transparent;
  height: 75px;
  left: calc(27.69% - 92px);
  position: absolute;
  top: calc(41.34% - 31px);
  width: 331px;
}

.web-1920-10 .rectangle-50-WlHxEK {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-10 .customer-full-name-WlHxEK {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 147px;
}

.web-1920-10 .enter-room-number-WlHxEK {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-10 .enter-room-number-WlHxEK::placeholder {
  color: #70707099;
}

.web-1920-10 .core-component-button-standard-b3OL5d {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.web-1920-10 .background-rfjcFv {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-10 .back-rfjcFv {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.web-1920-10 .signup-buton-b3OL5d {
  background-color: transparent;
  bottom: calc(36.45% - 18px);
  cursor: pointer;
  height: 50px;
  left: calc(27.76% - 92px);
  position: absolute;
  width: 330px;
}

.web-1920-10 .rectangle-148475-Lr9zXc {
  background-color: var(--blueberry);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-10 .hover-Lr9zXc {
  background-color: var(--royal-blue);
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.web-1920-10 .hover-Lr9zXc:hover {
  opacity: 1;
}

.web-1920-10 .find-reservation-Lr9zXc {
  background-color: transparent;
  bottom: calc(28.26% - 8px);
  height: 27px;
  letter-spacing: 0.13px;
  line-height: 18px;
  position: absolute;
  right: calc(49.50% - 64px);
  text-align: center;
  white-space: nowrap;
  width: 130px;
}

.web-1920-10 .group-21-b3OL5d {
  background-color: transparent;
  bottom: 130px;
  height: 453px;
  position: absolute;
  right: calc(30.99% - 95px);
  width: 305px;
}

.web-1920-10 .customer-details-ehG6Xy {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 174px;
}

.web-1920-10 .group-24-ehG6Xy {
  background-color: transparent;
  height: calc(100.00% - 41px);
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}

.web-1920-10 .full-name-Wd5gGV {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 103px;
}

.web-1920-10 .number-Wd5gGV {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: 79px;
}

.web-1920-10 .email-Wd5gGV {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(23.32% - 6px);
  white-space: nowrap;
  width: 57px;
}

.web-1920-10 .address-Wd5gGV {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(34.20% - 9px);
  white-space: nowrap;
  width: 79px;
}

.web-1920-10 .id-number-Wd5gGV {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.08% - 12px);
  white-space: nowrap;
  width: 106px;
}

.web-1920-10 .id-type-Wd5gGV {
  background-color: transparent;
  bottom: calc(44.04% - 11px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}

.web-1920-10 .card-number-0000-Wd5gGV {
  background-color: transparent;
  bottom: calc(33.16% - 9px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.web-1920-10 .exp-date-mmyyyy-Wd5gGV {
  background-color: transparent;
  bottom: calc(21.76% - 6px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 186px;
}

.web-1920-10 .cvv-Wd5gGV {
  background-color: transparent;
  bottom: 40px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}

.web-1920-10 .notes-Wd5gGV {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 59px;
}

.web-1920-10 .group-25-b3OL5d {
  background-color: transparent;
  bottom: calc(46.71% - 35px);
  height: 75px;
  left: calc(27.69% - 92px);
  position: absolute;
  width: 331px;
}

.web-1920-10 .rectangle-50-gG0Ogx {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-10 .customer-email-gG0Ogx {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 114px;
}

.web-1920-10 .enter-email-gG0Ogx {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-10 .enter-email-gG0Ogx::placeholder {
  color: #70707099;
}

.web-1920-10 .customer-information-b3OL5d {
  background-color: transparent;
  height: 73px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(49.82% - 238px);
  text-align: center;
  top: calc(27.19% - 20px);
  white-space: nowrap;
  width: 478px;
}

.web-1920-10 .black-copy-b3OL5d {
  background-color: transparent;
  height: 149px;
  object-fit: cover;
  position: absolute;
  right: calc(49.90% - 167px);
  top: 36px;
  width: 335px;
}
