/* screen - web-1920-3 */

.web-1920-3 {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1500px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.web-1920-3 .core-component-button-standard-3lkoUN {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.web-1920-3 .background-7YE9xU {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .back-7YE9xU {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.web-1920-3 .full-name-3lkoUN {
  background-color: transparent;
  bottom: calc(44.41% - 412px);
  height: 928px;
  left: calc(50.00% - 344px);
  position: absolute;
  width: 689px;
}

.web-1920-3 .group-4-1HFNwz {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 331px;
}

.web-1920-3 .rectangle-50-w3L1pk {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .first-name-w3L1pk {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 79px;
}

.web-1920-3 .enter-first-name-w3L1pk {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-first-name-w3L1pk::placeholder {
  color: #70707099;
}

.web-1920-3 .group-5-1HFNwz {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 331px;
}

.web-1920-3 .rectangle-50-KlCoE7 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .last-name-KlCoE7 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 78px;
}

.web-1920-3 .enter-last-name-KlCoE7 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-last-name-KlCoE7::placeholder {
  color: #70707099;
}

.web-1920-3 .group-6-1HFNwz {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 119px;
  width: 331px;
}

.web-1920-3 .rectangle-50-azgv4q {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .phone-number-azgv4q {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 108px;
}

.web-1920-3 .enter-phone-number-azgv4q {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-phone-number-azgv4q::placeholder {
  color: #70707099;
}

.web-1920-3 .group-7-1HFNwz {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: 119px;
  width: 331px;
}

.web-1920-3 .rectangle-50-6eC4iH {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .email-6eC4iH {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 41px;
}

.web-1920-3 .enter-email-6eC4iH {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-email-6eC4iH::placeholder {
  color: #70707099;
}

.web-1920-3 .group-8-1HFNwz {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: calc(29.19% - 22px);
  width: 331px;
}

.web-1920-3 .rectangle-50-FnE1BW {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .street-FnE1BW {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 45px;
}

.web-1920-3 .enter-street-FnE1BW {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-street-FnE1BW::placeholder {
  color: #70707099;
}

.web-1920-3 .group-9-1HFNwz {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: calc(40.33% - 30px);
  width: 331px;
}

.web-1920-3 .rectangle-50-2aGqvQ {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .state-2aGqvQ {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 39px;
}

.web-1920-3 .enter-state-2aGqvQ {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-state-2aGqvQ::placeholder {
  color: #70707099;
}

.web-1920-3 .group-10-1HFNwz {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: calc(29.19% - 22px);
  width: 331px;
}

.web-1920-3 .rectangle-50-EgHIGJ {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .country-EgHIGJ {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 58px;
}

.web-1920-3 .enter-country-EgHIGJ {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-country-EgHIGJ::placeholder {
  color: #70707099;
}

.web-1920-3 .group-12-1HFNwz {
  background-color: transparent;
  bottom: calc(44.43% - 33px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.web-1920-3 .rectangle-50-6xi70J {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .id-number-6xi70J {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}

.web-1920-3 .enter-street-6xi70J {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-street-6xi70J::placeholder {
  color: #70707099;
}

.web-1920-3 .group-12-33YLxU {
  background-color: transparent;
  bottom: calc(44.43% - 33px);
  height: 75px;
  position: absolute;
  right: 0px;
  width: 331px;
}

.web-1920-3 .rectangle-50-9sRhLd {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .id-type-9sRhLd {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 59px;
}

.web-1920-3 .enter-street-9sRhLd {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .enter-street-9sRhLd::placeholder {
  color: #70707099;
}

.web-1920-3 .group-12-VwuZsy {
  background-color: transparent;
  bottom: 0px;
  height: 99px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .rectangle-50-1xYlM5 {
  background-color: var(--white);
  border-radius: 4px;
  height: calc(100.00% - 25px);
  left: 0px;
  position: absolute;
  top: 25px;
  width: 100%;
}

.web-1920-3 .notes-1xYlM5 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}

.web-1920-3 .enter-note-1xYlM5 {
  background-color: transparent;
  border: 0;
  bottom: 8px;
  height: 49px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: calc(100.00% - 5px);
}

.web-1920-3 .enter-note-1xYlM5::placeholder {
  color: #70707099;
}

.web-1920-3 .group-18-1HFNwz {
  background-color: transparent;
  bottom: calc(29.19% - 22px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.web-1920-3 .rectangle-50-Mvnvck {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .card-number-Mvnvck {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 97px;
}

.web-1920-3 .x0000000000000000-Mvnvck {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .x0000000000000000-Mvnvck::placeholder {
  color: #70707099;
}

.web-1920-3 .group-19-1HFNwz {
  background-color: transparent;
  bottom: calc(18.05% - 14px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.web-1920-3 .rectangle-50-XpZKfH {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .cvv-XpZKfH {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 31px;
}

.web-1920-3 .x000-XpZKfH {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .x000-XpZKfH::placeholder {
  color: #70707099;
}

.web-1920-3 .group-20-1HFNwz {
  background-color: transparent;
  bottom: calc(29.19% - 22px);
  height: 75px;
  position: absolute;
  right: 0px;
  width: 331px;
}

.web-1920-3 .rectangle-50-vLnO68 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.web-1920-3 .expiration-date-vLnO68 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 110px;
}

.web-1920-3 .mmyy-vLnO68 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.web-1920-3 .mmyy-vLnO68::placeholder {
  color: #70707099;
}

.web-1920-3 .signup-buton-3lkoUN {
  background-color: transparent;
  bottom: 177px;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: calc(49.95% - 165px);
  width: 330px;
}

.web-1920-3 .rectangle-148475-0xo10h {
  background-color: var(--blueberry);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.web-1920-3 .hover-0xo10h {
  background-color: var(--royal-blue);
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.web-1920-3 .hover-0xo10h:hover {
  opacity: 1;
}

.web-1920-3 .proceed-to-new-reservation-0xo10h {
  background-color: transparent;
  bottom: calc(28.26% - 8px);
  height: 27px;
  letter-spacing: 0.13px;
  line-height: 18px;
  position: absolute;
  right: calc(49.12% - 106px);
  text-align: center;
  white-space: nowrap;
  width: 216px;
}

.web-1920-3 .new-customer-3lkoUN {
  background-color: transparent;
  height: 73px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(49.85% - 158px);
  text-align: center;
  top: 224px;
  white-space: nowrap;
  width: 316px;
}

.web-1920-3 .black-copy-3lkoUN {
  background-color: transparent;
  height: 149px;
  object-fit: cover;
  position: absolute;
  right: calc(49.90% - 167px);
  top: 36px;
  width: 335px;
}
