<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="css/customer-information.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="customer-information" />
    <form class="customer-information screen" name="form14" action="form14" method="post">
      <div class="group-12-pGBa3b">
        <div class="rectangle-50-PmrIn1 border-1-5px-iron"></div>
        <div class="customer-full-name-PmrIn1 tahoma-regular-normal-scarpa-flow-16px">Customer Full Name</div>
        <input
          class="enter-full-name-PmrIn1 tahoma-regular-normal-dove-gray-16px"
          name="enter-full-name2"
          placeholder="Enter full name"
        />
      </div>
      <a href="main-menu.html">
        <div class="core-component-button-standard-pGBa3b">
          <div class="background-bOzGFJ"></div>
          <div class="back-bOzGFJ sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      ><a href="javascript:SubmitForm('form14')">
        <div class="signup-buton-pGBa3b">
          <div class="rectangle-148475-iJBWb7 border-2px-blueberry"></div>
          <div class="hover-iJBWb7 smart-layers-pointers hidden"></div>
          <div class="find-reservation-iJBWb7 sourcesanspro-normal-white-18px">Find Reservation</div>
        </div></a
      >
      <div class="group-21-pGBa3b">
        <div class="customer-details-xyxtZ4 tahoma-bold-dove-gray-20px">Customer Details</div>
        <div class="group-24-xyxtZ4">
          <div class="full-name-KWMkei tahoma-regular-normal-dove-gray-20px">Full Name:</div>
          <div class="number-KWMkei tahoma-regular-normal-dove-gray-20px">Number:</div>
          <div class="email-KWMkei tahoma-regular-normal-dove-gray-20px">Email:</div>
          <div class="address-KWMkei tahoma-regular-normal-dove-gray-20px">Address:</div>
          <div class="id-number-KWMkei tahoma-regular-normal-dove-gray-20px">ID Number:</div>
          <div class="id-type-KWMkei tahoma-regular-normal-dove-gray-20px">ID Type:</div>
          <div class="card-number-0000-KWMkei tahoma-regular-normal-dove-gray-20px">Card Number: ************0000</div>
          <div class="exp-date-mmyyyy-KWMkei tahoma-regular-normal-dove-gray-20px">Exp. Date: MM/YYYY</div>
          <div class="cvv-KWMkei tahoma-regular-normal-dove-gray-20px">CVV:</div>
          <div class="notes-KWMkei tahoma-regular-normal-dove-gray-20px">Notes:</div>
        </div>
      </div>
      <div class="group-25-pGBa3b">
        <div class="rectangle-50-spzdxx border-1-5px-iron"></div>
        <div class="customer-email-spzdxx tahoma-regular-normal-scarpa-flow-16px">Customer Email</div>
        <input
          class="enter-email-spzdxx tahoma-regular-normal-dove-gray-16px"
          name="enter-email21"
          placeholder="Enter email"
        />
      </div>
      <div class="customer-information-pGBa3b sourcesanspro-semi-bold-dove-gray-50px">Customer Information</div>
      <img class="black-copy-pGBa3b" src="img/black---copy-1@1x.png" />
    </form>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>
