<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/customer-information.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="customer-information" />
    <div class="customer-information screen">
      <a href="main-menu.html">
        <div class="core-component-button-standard-pGBa3b">
          <div class="background-bOzGFJ"></div>
          <div class="back-bOzGFJ sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="repeat-grid-20-pGBa3b">
        <div class="x04-rQ3Dot">
          <div class="group-12-60pKcd">
            <div class="rectangle-50-8VtCAQ border-1-5px-iron"></div>
            <div class="customer-full-name-8VtCAQ tahoma-regular-normal-scarpa-flow-16px">Customer Full Name</div>
            <input
              id = "full_name"
              class="enter-full-name-8VtCAQ tahoma-regular-normal-dove-gray-16px"
              name="enter-full-name2"
              placeholder="Enter full name"
            />
          </div>
          <div class="group-21-60pKcd">
            <div class="customer-details-IrWTSC tahoma-bold-dove-gray-20px">Customer Details</div>
            <div class="group-24-IrWTSC">
              <div class="full-name-VyoxSI tahoma-regular-normal-dove-gray-20px">Full Name:</div>
              <div class="number-VyoxSI tahoma-regular-normal-dove-gray-20px">Number:</div>
              <div class="email-VyoxSI tahoma-regular-normal-dove-gray-20px">Email:</div>
              <div class="address-VyoxSI tahoma-regular-normal-dove-gray-20px">Address:</div>
              <div class="id-number-VyoxSI tahoma-regular-normal-dove-gray-20px">ID Number:</div>
              <div class="id-type-VyoxSI tahoma-regular-normal-dove-gray-20px">ID Type:</div>
              <div class="card-number-0000-VyoxSI tahoma-regular-normal-dove-gray-20px">
                Card Number:
              </div>
              <div class="exp-date-mmyyyy-VyoxSI tahoma-regular-normal-dove-gray-20px">Exp. Date:</div>
              <div class="cvv-VyoxSI tahoma-regular-normal-dove-gray-20px">CVV:</div>
              <div class="notes-VyoxSI tahoma-regular-normal-dove-gray-20px">Notes:</div>
            </div>
          </div>
          <div class="group-25-60pKcd">
            <div class="rectangle-50-Apeqbv border-1-5px-iron"></div>
            <div class="customer-email-Apeqbv tahoma-regular-normal-scarpa-flow-16px">Customer Email</div>
            <input
              id = "email"
              class="enter-email-Apeqbv tahoma-regular-normal-dove-gray-16px"
              name="enter-email2"
              placeholder="Enter email"
            />
          </div>
          <div class="customer-information-60pKcd sourcesanspro-semi-bold-dove-gray-50px">Customer Information</div>
          <img class="black-copy-60pKcd" src="img/black---copy-1@1x.png" />
          <div class="button-raised-f-isabled-primary-60pKcd">
            <button id = "customer_info_lookup" class="mdc-button mdc-button--raised" data-id="anima-widget">
              <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Find Reservation</span>
            </button>
            <script>
              mdc.autoInit();
              new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-60pKcd .mdc-button"));
            </script>
          </div>
          <div class="group-53-TwEt2Q">
            <div class="group-24-IWuIXI">
              <div id='full_names' class="x1-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='cust_number' class="x2-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='cust_email' class="x3-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='cust_street' class="x4-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='cust_ids' class="x5-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='doc_types' class="x6-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='card_numbers' class="x7-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='exp_dates' class="x8-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='cvv_nums' class="x9-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
              <div id='notess' class="x10-CxyIEi tahoma-regular-normal-dove-gray-20px"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <script src="../static/customer_information.js"></script>
  </body>
</html>
