<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/generated-bill.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="generated-bill" />
    <div class="generated-bill screen">
      <h1 class="title-qjpuqI">Bill ID:</h1>
      <div class="group-21-qjpuqI">
        <div class="customer-information-Hjrlza tahoma-bold-dove-gray-20px">Customer Information</div>
        <div class="group-24-Hjrlza">
          <img class="path-1-jlNsBF" src="img/path-1@1x.png" />
          <div class="name-jlNsBF tahoma-regular-normal-dove-gray-20px">Name:</div>
          <div class="email-jlNsBF tahoma-regular-normal-dove-gray-20px">Email:</div>
          <div class="phone-number-jlNsBF tahoma-regular-normal-dove-gray-20px">Phone Number:</div>
          <div class="street-jlNsBF tahoma-regular-normal-dove-gray-20px">Street:</div>
          <div class="state-jlNsBF tahoma-regular-normal-dove-gray-20px">State:</div>
          <div class="country-jlNsBF tahoma-regular-normal-dove-gray-20px">Country:</div>
          <div class="id-number-jlNsBF tahoma-regular-normal-dove-gray-20px">ID Number:</div>
          <div class="id-type-jlNsBF tahoma-regular-normal-dove-gray-20px">ID Type:</div>
          <div class="credit-card-number-0000-jlNsBF tahoma-regular-normal-dove-gray-20px">
            Credit Card Number : ************0000
          </div>
        </div>
      </div>
      <div class="date-qjpuqI tahoma-regular-normal-dove-gray-20px">Date:</div>
      <div class="repeat-grid-8-qjpuqI">
        <div class="group-3-lxR3Jj">
          <div class="reservation-details-aQD3Kx tahoma-bold-dove-gray-20px">Reservation Details</div>
          <div class="group-4-aQD3Kx">
            <div class="rectangle-148477-2PMET0 border-1px-dove-gray"></div>
            <div class="room-number-2PMET0 tahoma-regular-normal-dove-gray-20px">Room Number:</div>
            <div class="room-type-2PMET0 tahoma-regular-normal-dove-gray-20px">Room Type:</div>
            <div class="check-in-date-2PMET0 tahoma-regular-normal-dove-gray-20px">Check in Date</div>
            <div class="check-out-date-2PMET0 tahoma-regular-normal-dove-gray-20px">Check out Date:</div>
          </div>
        </div>
      </div>
      <div class="group-3-qjpuqI">
        <div class="rectangle-148478-mOYLvc border-1px-dove-gray"></div>
        <div class="charges-mOYLvc tahoma-bold-dove-gray-20px">Charges</div>
        <div class="group-1-mOYLvc">
          <div class="room-charge-mLzhAB tahoma-regular-normal-dove-gray-20px">Room Charge:</div>
          <div class="bar-charge-mLzhAB tahoma-regular-normal-dove-gray-20px">Bar Charge:</div>
          <div class="additional-charges-mLzhAB tahoma-regular-normal-dove-gray-20px">Additional Charges:</div>
        </div>
        <div class="group-2-mOYLvc">
          <div class="tax-iKG7B6 tahoma-regular-normal-dove-gray-20px">Tax:</div>
          <div class="total-iKG7B6 tahoma-regular-normal-dove-gray-20px">TOTAL:</div>
        </div>
      </div>
      <img class="black-copy-qjpuqI" src="img/black---copy-1@1x.png" />
      <a href="main-menu.html">
        <div class="button-raised-filled-qjpuqI">
          <button class="mdc-button mdc-button--raised" data-id="anima-widget">
            <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Check out Customer</span>
          </button>
          <script>
            mdc.autoInit();
            new mdc.ripple.MDCRipple(document.querySelector(".button-raised-filled-qjpuqI .mdc-button"));
          </script>
        </div>

<div class="group-46-qjpuqI">
  <div class="full-name-0IlcOO">
    <div class="rectangle-50-C1lp6Z border-1-5px-iron"></div>
    <div class="room-number-C1lp6Z tahoma-regular-normal-scarpa-flow-16px">Room Number</div>
    <input
      class="enter-room-number-C1lp6Z tahoma-regular-normal-dove-gray-16px"
      name="enter-room-number21"
      placeholder="Enter room number"
    />
  </div>
</div>
<div class="group-12-qjpuqI">
  <div class="rectangle-50-5N20Z2 border-1-5px-iron"></div>
  <div class="customer-full-name-5N20Z2 tahoma-regular-normal-scarpa-flow-16px">Customer Full Name</div>
  <input
    class="enter-full-name-5N20Z2 tahoma-regular-normal-dove-gray-16px"
    name="enter-full-name2"
    placeholder="Enter full name"
  />
</div>
</div>
        </div></a>
    </div>
  </body>
</html>
