<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/generated-bill.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="css/globals.css" />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="generated-bill" />
    <div class="generated-bill screen">
      <div class="bill-id-qjpuqI">Bill ID:</div>
      <div class="group-21-qjpuqI">
        <div class="customer-information-Hjrlza tahoma-bold-dove-gray-20px">Customer Information</div>
        <div class="group-24-Hjrlza">
          <img class="path-1-jlNsBF" src="img/path-1@1x.png" />
          <div class="name-jlNsBF tahoma-regular-normal-dove-gray-20px">Name:</div>
          <div class="email-jlNsBF tahoma-regular-normal-dove-gray-20px">Email:</div>
          <div class="phone-number-jlNsBF tahoma-regular-normal-dove-gray-20px">Phone Number:</div>
          <div class="street-jlNsBF tahoma-regular-normal-dove-gray-20px">Street:</div>
          <div class="state-jlNsBF tahoma-regular-normal-dove-gray-20px">State:</div>
          <div class="country-jlNsBF tahoma-regular-normal-dove-gray-20px">Country:</div>
          <div class="id-number-jlNsBF tahoma-regular-normal-dove-gray-20px">ID Number:</div>
          <div class="id-type-jlNsBF tahoma-regular-normal-dove-gray-20px">ID Type:</div>
          <div class="credit-card-number-jlNsBF tahoma-regular-normal-dove-gray-20px">Credit Card Number :</div>
        </div>
        <div class="group-55-Hjrlza">
          <div id ="full_names" class="x1-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="emails" class="x2-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="phone_numbers"  class="x3-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="streets" class="x4-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="states"  class="x5-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="countrys"  class="x6-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="id_numbers"  class="x7-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="id_types"  class="x8-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
            <div id ="card_numbers" class="x9-GYXIj9 tahoma-regular-normal-dove-gray-20px"></div>
        </div>
      </div>
      <div class="date-qjpuqI tahoma-regular-normal-dove-gray-20px">Date:</div>
      <div class="group-3-qjpuqI">
        <div class="reservation-details-mOYLvc tahoma-bold-dove-gray-20px">Reservation Details</div>
        <div class="group-4-mOYLvc">
          <div class="rectangle-148477-CfKYj3 border-1px-dove-gray"></div>
          <div class="room-number-CfKYj3 tahoma-regular-normal-dove-gray-20px">Room Number:</div>
          <div class="room-type-CfKYj3 tahoma-regular-normal-dove-gray-20px">Room Type:</div>
          <div class="check-in-date-CfKYj3 tahoma-regular-normal-dove-gray-20px">Check in Date:</div>
          <div class="check-out-date-CfKYj3 tahoma-regular-normal-dove-gray-20px">Check out Date:</div>
        </div>
        <div class="group-56-mOYLvc">
          <div id ="room_numbers"  class="x10-UnPnwU tahoma-regular-normal-dove-gray-20px"></div>
          <div id ="room_types"  class="x11-UnPnwU tahoma-regular-normal-dove-gray-20px"></div>
          <div  id ="check_ins" class="x12-UnPnwU tahoma-regular-normal-dove-gray-20px"></div>
          <div id ="check_outs"  class="x13-UnPnwU tahoma-regular-normal-dove-gray-20px"></div>
        </div>
      </div>
      <div class="group-3-Hefdbv">
        <div class="rectangle-148478-b2PSEo border-1px-dove-gray"></div>
        <div class="charges-b2PSEo tahoma-bold-dove-gray-20px">Charges</div>
        <div class="group-1-b2PSEo">
          <div class="room-charge-lL2Xz2 tahoma-regular-normal-dove-gray-20px">Room Charge:</div>
          <div class="bar-charge-lL2Xz2 tahoma-regular-normal-dove-gray-20px">Bar Charge:</div>
          <div class="additional-charges-lL2Xz2 tahoma-regular-normal-dove-gray-20px">Additional Charges:</div>
        </div>
        <div class="group-2-b2PSEo">
          <div class="tax-CFP0qj tahoma-regular-normal-dove-gray-20px">Tax:</div>
          <div class="total-CFP0qj tahoma-regular-normal-dove-gray-20px">TOTAL:</div>
        </div>
        <div class="group-57-b2PSEo">
          <div id ="room_charges"  class="x13-jnXB40 tahoma-regular-normal-dove-gray-20px"></div>
          <div id ="bar_charges"  class="x14-jnXB40 tahoma-regular-normal-dove-gray-20px"></div>
          <div id ="add_charges"  class="x15-jnXB40 tahoma-regular-normal-dove-gray-20px"></div>
        </div>
        <div class="group-58-b2PSEo">
          <div id ="taxes"  class="x16-Uvcsy8 tahoma-regular-normal-dove-gray-20px"></div>
          <div id ="totals"  class="x17-Uvcsy8 tahoma-regular-normal-dove-gray-20px"></div>
        </div>
      </div>
      <img class="black-copy-qjpuqI" src="img/black---copy-1@1x.png" />
      <div class="button-raised-filled-qjpuqI">
        <button id = "customer_check_out" class="mdc-button mdc-button--raised" data-id="anima-widget">
          <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Check out Customer</span>
        </button>
        <script>
          mdc.autoInit();
          new mdc.ripple.MDCRipple(document.querySelector(".button-raised-filled-qjpuqI .mdc-button"));
        </script>
      </div>
      <div class="group-46-qjpuqI">
        <div class="full-name-0IlcOO">
          <div class="rectangle-50-C1lp6Z border-1-5px-iron"></div>
          <div class="room-number-C1lp6Z tahoma-regular-normal-scarpa-flow-16px">Room Number</div>
          <input
            id = "room_number"
            class="enter-room-number-C1lp6Z tahoma-regular-normal-dove-gray-16px"
            name="enter-room-number21"
            placeholder="Enter room number"
          />
        </div>
      </div>
      <div class="group-12-qjpuqI">
        <div class="rectangle-50-5N20Z2 border-1-5px-iron"></div>
        <div class="customer-full-name-5N20Z2 tahoma-regular-normal-scarpa-flow-16px">Customer Full Name</div>
        <input
          id = "full_name"
          class="enter-full-name-5N20Z2 tahoma-regular-normal-dove-gray-16px"
          name="enter-full-name2"
          placeholder="Enter full name"
        />
      </div>
    </div>
    <script src="../static/generate_bill.js"></script>
  </body>
</html>
