<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #bce0fd">
    <input type="hidden" id="anPageName" name="page" value="login" />
    <div class="container-center-horizontal">
      <form class="login screen" name="form10" action="form10" method="post">
        <div class="group-33-b8DrbD">
          <img class="star-hotel-logostransparent-vLIRLw" src="img/star-hotel-logos-transparent@1x.png" />
          <div class="welcome-to-the-he-button-below-vLIRLw">
            Welcome to the login page, enter using the button below!
          </div>
          <div class="group-20-vLIRLw">
            <div class="rectangle-50-rFiPyc border-1-5px-iron"></div>
            <input
              class="employee-id-rFiPyc tahoma-regular-normal-dove-gray-16px"
              name="employee-id1"
              placeholder="Employee ID"
            />
          </div>
        </div>
        <a href="main-menu.html">
          <div class="signup-buton-b8DrbD">
            <div class="rectangle-148475-vawCmW border-2px-blueberry"></div>
            <div class="hover-vawCmW smart-layers-pointers hidden"></div>
            <div class="login-vawCmW sourcesanspro-normal-white-18px">Login</div>
          </div></a
        >
      </form>
    </div>
    <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script>
  </body>
</html>
