<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1920, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/login.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #bce0fd">
    <input type="hidden" id="anPageName" name="page" value="login" />
    <div class="container-center-horizontal">
      <div class="login screen">
        <div class="group-33-b8DrbD">
          <img class="star-hotel-logostransparent-vLIRLw" src="img/star-hotel-logos-transparent@1x.png" />
          <div class="welcome-to-the-he-button-below-vLIRLw">
            Welcome to the login page, enter using the button below!
          </div>
          <div class="group-20-vLIRLw">
            <div class="rectangle-50-rFiPyc border-1-5px-iron"></div>
            <input
              class="employee-id-rFiPyc tahoma-regular-normal-dove-gray-16px"
              name="employee-id1"
              placeholder="Employee ID"
            />
          </div>
        </div>
        <a href="main-menu.html">
          <div id = "new_reservation_creation" class="button-raised-f-isabled-primary-b8DrbD">
            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
              <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Login</span>
            </button>
            <script>
              mdc.autoInit();
              new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-b8DrbD .mdc-button"));
            </script>
          </div></a
        >
      </div>
    </div>
  </body>
</html>
