<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/main-menu.css" />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="main-menu" />
    <div class="main-menu screen">
      <a href="login.html">
        <div class="core-component-button-standard-gTQfpN">
          <div class="background-iRsJCI"></div>
          <div class="exit-iRsJCI sourcesanspro-semi-bold-white-16px">Exit</div>
        </div></a
      >
      <div class="repeat-grid-15-gTQfpN">
        <div class="x0-xfNxMu">
          <div class="management-menu-huVP4W sourcesanspro-semi-bold-dove-gray-50px">Management Menu</div>
          <img class="black-copy-huVP4W" src="../static/img/black---copy-1@1x.png" />
          <div class="group-47-huVP4W">
            <a href="new-reservation-existing-or-new-customer.html">
              <div class="button-raised-f-isabled-primary-ExidIM">
                <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                  <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Create a New Reservation</span>
                </button>
                <script>
                  mdc.autoInit();
                  new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-ExidIM .mdc-button"));
                </script>
              </div></a
            ><a href="room-information.html">
              <div class="button-raised-f-isabled-primary-Ax570f">
                <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                  <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Lookup Room Information</span>
                </button>
                <script>
                  mdc.autoInit();
                  new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-Ax570f .mdc-button"));
                </script>
              </div></a
            ><a href="customer-information.html">
              <div class="button-raised-f-isabled-primary-hCWoZi">
                <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                  <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Lookup Customer</span>
                </button>
                <script>
                  mdc.autoInit();
                  new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-hCWoZi .mdc-button"));
                </script>
              </div></a
            ><a href="reservation-information.html">
              <div class="button-raised-f-isabled-primary-hjnUZy">
                <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                  <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Lookup a Reservation</span>
                </button>
                <script>
                  mdc.autoInit();
                  new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-hjnUZy .mdc-button"));
                </script>
              </div></a
            ><a href="customer-checkout.html">
              <div class="button-raised-f-isabled-primary-mTYLuC">
                <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                  <span class="mdc-button__ripple"></span>
                  <span class="mdc-button__label">Bill Generation / Checkout</span>
                </button>
                <script>
                  mdc.autoInit();
                  new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-mTYLuC .mdc-button"));
                </script>
              </div></a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
