<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/new-reservation-existing-or-new-customer.css" />
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-reservation-existing-or-new-customer" />
    <div class="new-reservation-existing-or-new-customer screen">
      <a href="main-menu.html">
        <div class="core-component-button-standard-XPnWMx">
          <div class="background-ImUXdx"></div>
          <div class="back-ImUXdx sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="repeat-grid-21-XPnWMx">
        <div class="x01-xmnf9I">
          <div class="new-reservation-nCoEx5 sourcesanspro-semi-bold-dove-gray-50px">New Reservation</div>
          <img class="black-copy-nCoEx5" src="../static/img/black---copy-1@1x.png" />
          <a href="new-reservation-creation.html">
            <div class="button-raised-f-isabled-primary-nCoEx5">
              <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Existing Customer</span>
              </button>
              <script>
                mdc.autoInit();
                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-nCoEx5 .mdc-button"));
              </script>
            </div></a
          ><a href="new-customer.html">
            <div class="button-raised-f-isabled-primary-G02xTx">
              <button class="mdc-button mdc-button--raised" data-id="anima-widget">
                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">New Customer</span>
              </button>
              <script>
                mdc.autoInit();
                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-G02xTx .mdc-button"));
              </script>
            </div></a
          >
        </div>
      </div>
    </div>
  </body>
</html>
