<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/new-customer.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-customer" />
    <div class="new-customer screen">
      <a href="main-menu.html">
        <div class="core-component-button-standard-wz9xay">
          <div class="background-7TupTi"></div>
          <div class="back-7TupTi sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="repeat-grid-16-wz9xay">
        <div class="x09-9A0vIN">
          <div class="new-customer-ujztJx sourcesanspro-semi-bold-dove-gray-50px">New Customer</div>
          <img class="black-copy-ujztJx" src="../static/img/black---copy-1@1x.png" />
          <div class="repeat-grid-11-ujztJx">
            <div class="x010-i2MO5A">
              <div class="full-name-gz7shM">
                <div class="group-4-nZeTof">
                  <div class="rectangle-50-3b01W7 border-1-5px-iron"></div>
                  <div class="first-name-3b01W7 tahoma-regular-normal-scarpa-flow-16px">First Name</div>
                  <input
                    id = "first_name"
                    class="enter-first-name-3b01W7 tahoma-regular-normal-dove-gray-16px"
                    name="enter-first-name2"
                    placeholder="Enter first name"
                  />
                </div>
                <div class="group-5-nZeTof">
                  <div class="rectangle-50-YVxv6N border-1-5px-iron"></div>
                  <div class="last-name-YVxv6N tahoma-regular-normal-scarpa-flow-16px">Last Name</div>
                  <input
                    id = "last_name"
                    class="enter-last-name-YVxv6N tahoma-regular-normal-dove-gray-16px"
                    name="enter-last-name2"
                    placeholder="Enter last name"
                  />
                </div>
                <div class="group-6-nZeTof">
                  <div class="rectangle-50-pOUDHA border-1-5px-iron"></div>
                  <div class="phone-number-pOUDHA tahoma-regular-normal-scarpa-flow-16px">Phone Number</div>
                  <input
                    id = "phone_number"
                    class="enter-phone-number-pOUDHA tahoma-regular-normal-dove-gray-16px"
                    name="enter-phone-number2"
                    placeholder="Enter phone number"
                  />
                </div>
                <div class="group-7-nZeTof">
                  <div class="rectangle-50-LBnGSp border-1-5px-iron"></div>
                  <div class="email-LBnGSp tahoma-regular-normal-scarpa-flow-16px">Email</div>
                  <input
                    id = "email"
                    class="enter-email-LBnGSp tahoma-regular-normal-dove-gray-16px"
                    name="enter-email21"
                    placeholder="Enter email"
                  />
                </div>
                <div class="group-8-nZeTof">
                  <div class="rectangle-50-KMepWM border-1-5px-iron"></div>
                  <div class="street-KMepWM tahoma-regular-normal-scarpa-flow-16px">Street</div>
                  <input
                    id = "street"
                    class="enter-street-KMepWM tahoma-regular-normal-dove-gray-16px"
                    name="enter-street2"
                    placeholder="Enter street"
                  />
                </div>
                <div class="group-9-nZeTof">
                  <div class="rectangle-50-IkaJCi border-1-5px-iron"></div>
                  <div class="state-IkaJCi tahoma-regular-normal-scarpa-flow-16px">State</div>
                  <input
                    id = "state"
                    class="enter-state-IkaJCi tahoma-regular-normal-dove-gray-16px"
                    name="enter-state2"
                    placeholder="Enter state"
                  />
                </div>
                <div class="group-10-nZeTof">
                  <div class="rectangle-50-xxGz6W border-1-5px-iron"></div>
                  <div class="country-xxGz6W tahoma-regular-normal-scarpa-flow-16px">Country</div>
                  <input
                    id = "country"
                    class="enter-country-xxGz6W tahoma-regular-normal-dove-gray-16px"
                    name="enter-country2"
                    placeholder="Enter country"
                  />
                </div>
                <div class="group-12-nZeTof">
                  <div class="rectangle-50-GaBIry border-1-5px-iron"></div>
                  <div class="id-number-GaBIry tahoma-regular-normal-scarpa-flow-16px">ID Number</div>
                  <input
                    id = "id_number"
                    class="enter-street-GaBIry tahoma-regular-normal-dove-gray-16px"
                    name="enter-street21"
                    placeholder="Enter street"
                  />
                </div>
                <div class="group-12-1DzybB">
                  <div class="rectangle-50-Rp2Umb border-1-5px-iron"></div>
                  <div class="id-type-Rp2Umb tahoma-regular-normal-scarpa-flow-16px">ID Type</div>
                  <input
                    id = "id_type"
                    class="enter-street-Rp2Umb tahoma-regular-normal-dove-gray-16px"
                    name="enter-street22"
                    placeholder="Enter street"
                  />
                </div>
                <div class="group-12-FzW8B9">
                  <div class="rectangle-50-MfypYy border-1-5px-iron"></div>
                  <div class="notes-MfypYy tahoma-regular-normal-scarpa-flow-16px">Notes</div>
                  <input
                    id = "notes"
                    class="enter-note-MfypYy tahoma-regular-normal-dove-gray-16px"
                    name="enter-note2"
                    placeholder="Enter note"
                  />
                </div>
                <div class="group-18-nZeTof">
                  <div class="rectangle-50-PtgaFR border-1-5px-iron"></div>
                  <div class="card-number-PtgaFR tahoma-regular-normal-scarpa-flow-16px">Card Number</div>
                  <input
                    id = "card_number"
                    class="x0000000000000000-PtgaFR tahoma-regular-normal-dove-gray-16px"
                    name="00000000000000002"
                    placeholder="0000000000000000"
                  />
                </div>
                <div class="group-19-nZeTof">
                  <div class="rectangle-50-dFOO22 border-1-5px-iron"></div>
                  <div class="cvv-dFOO22 tahoma-regular-normal-scarpa-flow-16px">CVV</div>
                  <input id = "cvv" class="x000-dFOO22 tahoma-regular-normal-dove-gray-16px" name="0002" placeholder="000" />
                </div>
                <div class="group-20-nZeTof">
                  <div class="rectangle-50-xeCLKW border-1-5px-iron"></div>
                  <div class="expiration-date-xeCLKW tahoma-regular-normal-scarpa-flow-16px">Expiration date</div>
                  <input id = "expiration_date" class="mmyy-xeCLKW tahoma-regular-normal-dove-gray-16px" name="mmyy2" placeholder="MM/YY" />
                </div>
              </div>
              <a href="new-reservation-creation.html">
                <div id = "new_customer" class="button-raised-f-isabled-primary-gz7shM">
                  <button id = "new_customer" type="submit" class="mdc-button mdc-button--raised" data-id="anima-widget">
                    <span class="mdc-button__ripple"></span>
                    <span class="mdc-button__label">Proceed to New Reservation</span>
                  </button>
                  <script>
                    mdc.autoInit();
                    new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-gz7shM .mdc-button"));
                  </script>
                </div></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/new_customer.js"></script>
  </body>
</html>
