<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/new-reservation-creation.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-reservation-creation" />
    <div class="new-reservation-creation screen">
      <a href="new-reservation-existing-or-new-customer.html">
        <div class="core-component-button-standard-8kYgXk">
          <div class="background-cpD6KC"></div>
          <div class="back-cpD6KC sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="repeat-grid-22-8kYgXk">
        <div class="x08-d9qNsA">
          <div class="new-reservation-DbxXF9 sourcesanspro-semi-bold-dove-gray-50px">New Reservation</div>
          <img class="black-copy-DbxXF9" src="../static/img/black---copy-1@1x.png" />
          <div class="group-43-DbxXF9">
            <div class="rectangle-148481-MzbuTn border-1px-dove-gray"></div>
            <div class="rectangle-148480-MzbuTn border-1px-dove-gray"></div>
            <div class="group-34-MzbuTn">
              <div class="rectangle-50-CnM4ra border-1-5px-iron"></div>
              <div class="full-name-CnM4ra tahoma-regular-normal-scarpa-flow-16px">Full Name</div>
              <input
                id = "full_name"
                class="enter-first-and-last-name-CnM4ra tahoma-regular-normal-dove-gray-16px"
                name="enter-first-and-last-name2"
                placeholder="Enter first and last name"
              />
            </div>
            <div class="group-35-MzbuTn">
              <div class="rectangle-50-ECxypT border-1-5px-iron"></div>
              <div class="id-number-ECxypT tahoma-regular-normal-scarpa-flow-16px">ID Number</div>
              <input
                id = "id_number"
                class="enter-id-number-ECxypT tahoma-regular-normal-dove-gray-16px"
                name="enter-id-number2"
                placeholder="Enter ID number"
              />
            </div>
            <div class="group-36-MzbuTn">
              <div class="rectangle-50-oemYX9 border-1-5px-iron"></div>
              <div class="check-in-date-oemYX9 tahoma-regular-normal-scarpa-flow-16px">Check in Date</div>
              <input
                id = "check_in"
                class="enter-check-in-date-oemYX9 tahoma-regular-normal-dove-gray-16px"
                name="enter-check-in-date21"
                placeholder="Enter check in date"
              />
            </div>
            <div class="group-37-MzbuTn">
              <div class="rectangle-50-bnJJ94 border-1-5px-iron"></div>
              <div class="check-out-date-bnJJ94 tahoma-regular-normal-scarpa-flow-16px">Check out Date</div>
              <input
                id = "check_out"
                class="enter-check-out-date-bnJJ94 tahoma-regular-normal-dove-gray-16px"
                name="enter-check-out-date2"
                placeholder="Enter check out date"
              />
            </div>
            <div class="group-38-MzbuTn">
              <div class="rectangle-50-LTaEZV border-1-5px-iron"></div>
              <div class="number-of-guests-LTaEZV tahoma-regular-normal-scarpa-flow-16px">Number of Guests</div>
              <input
                id = "number_of_guests"
                class="enter-number-of-guests-LTaEZV tahoma-regular-normal-dove-gray-16px"
                name="enter-number-of-guests2"
                placeholder="Enter number of guests"
              />
            </div>
            <div class="group-39-MzbuTn">
              <div class="rectangle-50-iC9fDU border-1-5px-iron"></div>
              <div class="room-type-iC9fDU tahoma-regular-normal-scarpa-flow-16px">Room Type</div>
              <input
                id = "room_type"
                class="enter-room-type-iC9fDU tahoma-regular-normal-dove-gray-16px"
                name="enter-room-type2"
                placeholder="Enter room type"
              />
            </div>
            <div class="group-40-MzbuTn">
              <div class="rectangle-50-ShpxtZ border-1-5px-iron"></div>
              <div class="notes-ShpxtZ tahoma-regular-normal-scarpa-flow-16px">Notes</div>
              <textarea
                id = "notes"
                class="enter-notes-ShpxtZ tahoma-regular-normal-dove-gray-16px"
                name="enter-notes2"
                placeholder="Enter notes"
              ></textarea>
            </div>
            <div class="group-41-MzbuTn">
              <div class="rectangle-50-KExHz9 border-1-5px-iron"></div>
              <div class="employee-full-name-KExHz9 tahoma-regular-normal-scarpa-flow-16px">Employee Full Name</div>
              <input
                id = "employee_full_name"
                class="enter-employee-full-name-KExHz9 tahoma-regular-normal-dove-gray-16px"
                name="enter-employee-full-name2"
                placeholder="Enter employee full name"
              />
            </div>
            <div class="group-42-MzbuTn">
              <div class="rectangle-50-Tsj9Ld border-1-5px-iron"></div>
              <div class="room-number-Tsj9Ld tahoma-regular-normal-scarpa-flow-16px">Room Number</div>
              <input
                id = "room_number"
                class="enter-room-number-Tsj9Ld tahoma-regular-normal-dove-gray-16px"
                name="enter-room-number23"
                placeholder="Enter room number"
              />
            </div>
            <div class="group-44-MzbuTn">
              <div class="rectangle-50-VgKUCV border-1-5px-iron"></div>
              <div class="rate-VgKUCV tahoma-regular-normal-scarpa-flow-16px">Rate</div>
              <input
                id = "rate"
                class="enter-rooms-rate-VgKUCV tahoma-regular-normal-dove-gray-16px"
                name="enter-rooms-rate2"
                placeholder="Enter room's rate"
              />
            </div>
            <div class="group-45-MzbuTn">
              <div class="rectangle-50-8KE7wX border-1-5px-iron"></div>
              <div class="max-occupancy-8KE7wX tahoma-regular-normal-scarpa-flow-16px">Max Occupancy</div>
              <input
                id = "max_occupancy"
                class="enter-rooms-max-occupancy-8KE7wX tahoma-regular-normal-dove-gray-16px"
                name="enter-rooms-max-occupancy2"
                placeholder="Enter room's max occupancy"
              />
            </div>
          </div>
          <a href="main-menu.html">
            <div class="button-raised-f-isabled-primary-DbxXF9">
              <button id = "new_reservation_creation" class="mdc-button mdc-button--raised" data-id="anima-widget">
                <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Complete Reservation</span>
              </button>
              <script>
                mdc.autoInit();
                new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-DbxXF9 .mdc-button"));
              </script>
            </div></a
          >
        </div>
      </div>
    </div>
    <script src="../static/new_reservation_creation.js"></script>
  </body>
</html>
