<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/new-customer.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="new-customer" />
    <form id = "new_customer" class="new-customer screen" name="form9" action="form9" method="post">
      <a href="main-menu.html">
        <div class="core-component-button-standard-wz9xay">
          <div class="background-7TupTi"></div>
          <div class="back-7TupTi sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="full-name-wz9xay">
        <div class="group-4-x8Dsac">
          <div class="rectangle-50-YF6dD5 border-1-5px-iron"></div>
          <div class="first-name-YF6dD5 tahoma-regular-normal-scarpa-flow-16px">First Name</div>
          <input
            id = "first_name"
            class="enter-first-name-YF6dD5 tahoma-regular-normal-dove-gray-16px"
            name="enter-first-name2"
            placeholder="Enter first name"
          />
        </div>
        <div class="group-5-x8Dsac">
          <div class="rectangle-50-WXfKaO border-1-5px-iron"></div>
          <div class="last-name-WXfKaO tahoma-regular-normal-scarpa-flow-16px">Last Name</div>
          <input
            id = "last_name"
            class="enter-last-name-WXfKaO tahoma-regular-normal-dove-gray-16px"
            name="enter-last-name2"
            placeholder="Enter last name"
          />
        </div>
        <div class="group-6-x8Dsac">
          <div class="rectangle-50-jJtLqn border-1-5px-iron"></div>
          <div class="phone-number-jJtLqn tahoma-regular-normal-scarpa-flow-16px">Phone Number</div>
          <input
            id = "phone_number"
            class="enter-phone-number-jJtLqn tahoma-regular-normal-dove-gray-16px"
            name="enter-phone-number2"
            placeholder="Enter phone number"
          />
        </div>
        <div class="group-7-x8Dsac">
          <div class="rectangle-50-pXjqjB border-1-5px-iron"></div>
          <div class="email-pXjqjB tahoma-regular-normal-scarpa-flow-16px">Email</div>
          <input
            id = "email"
            class="enter-email-pXjqjB tahoma-regular-normal-dove-gray-16px"
            name="enter-email2"
            placeholder="Enter email"
          />
        </div>
        <div class="group-8-x8Dsac">
          <div class="rectangle-50-GCJrgF border-1-5px-iron"></div>
          <div class="street-GCJrgF tahoma-regular-normal-scarpa-flow-16px">Street</div>
          <input
            id = "street"
            class="enter-street-GCJrgF tahoma-regular-normal-dove-gray-16px"
            name="enter-street2"
            placeholder="Enter street"
          />
        </div>
        <div class="group-9-x8Dsac">
          <div class="rectangle-50-NK1HxY border-1-5px-iron"></div>
          <div class="state-NK1HxY tahoma-regular-normal-scarpa-flow-16px">State</div>
          <input
            id = "state"
            class="enter-state-NK1HxY tahoma-regular-normal-dove-gray-16px"
            name="enter-state2"
            placeholder="Enter state"
          />
        </div>
        <div class="group-10-x8Dsac">
          <div class="rectangle-50-LxvxtM border-1-5px-iron"></div>
          <div class="country-LxvxtM tahoma-regular-normal-scarpa-flow-16px">Country</div>
          <input
            id = "country"
            class="enter-country-LxvxtM tahoma-regular-normal-dove-gray-16px"
            name="enter-country2"
            placeholder="Enter country"
          />
        </div>
        <div class="group-12-x8Dsac">
          <div class="rectangle-50-khdvEc border-1-5px-iron"></div>
          <div class="id-number-khdvEc tahoma-regular-normal-scarpa-flow-16px">ID Number</div>
          <input
            id = "id_number"
            class="enter-street-khdvEc tahoma-regular-normal-dove-gray-16px"
            name="enter-street21"
            placeholder="Enter street"
          />
        </div>
        <div class="group-12-TL6YtT">
          <div class="rectangle-50-3xgeKN border-1-5px-iron"></div>
          <div class="id-type-3xgeKN tahoma-regular-normal-scarpa-flow-16px">ID Type</div>
          <input
            id = "id_type"
            class="enter-street-3xgeKN tahoma-regular-normal-dove-gray-16px"
            name="enter-street22"
            placeholder="Enter street"
          />
        </div>
        <div class="group-12-aEfaxT">
          <div class="rectangle-50-TNyIiY border-1-5px-iron"></div>
          <div class="notes-TNyIiY tahoma-regular-normal-scarpa-flow-16px">Notes</div>
          <input
            id = "notes"
            class="enter-note-TNyIiY tahoma-regular-normal-dove-gray-16px"
            name="enter-note2"
            placeholder="Enter note"
          />
        </div>
        <div class="group-18-x8Dsac">
          <div class="rectangle-50-fuO2Cy border-1-5px-iron"></div>
          <div class="card-number-fuO2Cy tahoma-regular-normal-scarpa-flow-16px">Card Number</div>
          <input
            id = "card_number"
            class="x0000000000000000-fuO2Cy tahoma-regular-normal-dove-gray-16px"
            name="00000000000000002"
            placeholder="0000000000000000"
          />
        </div>
        <div class="group-19-x8Dsac">
          <div class="rectangle-50-vPsMdm border-1-5px-iron"></div>
          <div class="cvv-vPsMdm tahoma-regular-normal-scarpa-flow-16px">CVV</div>
          <input id = "cvv" class="x000-vPsMdm tahoma-regular-normal-dove-gray-16px" name="0002" placeholder="000" />
        </div>
        <div class="group-20-x8Dsac">
          <div class="rectangle-50-U3ozLw border-1-5px-iron"></div>
          <div class="expiration-date-U3ozLw tahoma-regular-normal-scarpa-flow-16px">Expiration date</div>
          <input id = "expiration_date" class="mmyy-U3ozLw tahoma-regular-normal-dove-gray-16px" name="mmyy2" placeholder="MM/YY" />
        </div>
      </div>
      <a href="new-reservation-creation.html">
        <div class="signup-buton-wz9xay">
          <div class="rectangle-148475-Q2qwAx border-2px-blueberry"></div>
          <div class="hover-Q2qwAx smart-layers-pointers hidden"></div>
          <div class="proceed-to-new-reservation-Q2qwAx sourcesanspro-normal-white-18px">
            Proceed to New Reservation
          </div>
        </div></a
      >
      <div class="new-customer-wz9xay sourcesanspro-semi-bold-dove-gray-50px">New Customer</div>
      <img class="black-copy-wz9xay" src="../static/img/black---copy-1@1x.png" />
    </form>

    <!-- <script>
      /* Copyright (c) 2016 Tobias Buschor https://goo.gl/gl0mbf | MIT License https://goo.gl/HgajeK */

      if (!HTMLFormElement.prototype.reportValidity) {
        HTMLFormElement.prototype.reportValidity = function () {
          if (this.checkValidity()) return true;
          var btn = document.createElement("button");
          this.appendChild(btn);
          btn.click();
          this.removeChild(btn);
          return false;
        };
      }

      function SubmitForm(form_name) {
        var form = document.getElementsByName(form_name)[0];
        if (form.reportValidity()) {
          form.submit();
          if (window.submitted) window.submitted();
        }
      }
    </script> -->
    <script src="../static/new_customer.js"> </script>
  </body>
</html>
