<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=1299, maximum-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://animaproject.s3.amazonaws.com/home/favicon.png" />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" type="text/css" href="../static/css/reservation-information.css" />
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link
      href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/styleguide.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/globals.css" />
    <meta name="author" content="AnimaApp.com - Design to code, Automated." />
  </head>
  <body style="margin: 0; background: #ffffff">
    <input type="hidden" id="anPageName" name="page" value="reservation-information" />
    <div class="reservation-information screen">
      <a href="main-menu.html">
        <div class="core-component-button-standard-k9N6Nn">
          <div class="background-F80eAe"></div>
          <div class="back-F80eAe sourcesanspro-semi-bold-white-16px">Back</div>
        </div></a
      >
      <div class="repeat-grid-19-k9N6Nn">
        <div class="x05-31BsdZ">
          <div class="group-12-mRBDRo">
            <div class="rectangle-50-A6x9na border-1-5px-iron"></div>
            <div class="room-number-A6x9na tahoma-regular-normal-scarpa-flow-16px">Room Number</div>
            <input
              class="enter-room-number-A6x9na tahoma-regular-normal-dove-gray-16px"
              name="enter-room-number21"
              placeholder="Enter room number"
            />
          </div>
          <div class="group-21-mRBDRo">
            <div class="reservation-details-6LnMSY tahoma-bold-dove-gray-20px">Reservation Details</div>
            <div class="group-24-6LnMSY">
              <div class="customer-name-LOdqgG tahoma-regular-normal-dove-gray-20px">Customer Name:</div>
              <div class="number-of-guests-LOdqgG tahoma-regular-normal-dove-gray-20px">Number of Guests:</div>
              <div class="room-number-LOdqgG tahoma-regular-normal-dove-gray-20px">Room Number:</div>
              <div class="room-type-LOdqgG tahoma-regular-normal-dove-gray-20px">Room Type:</div>
              <div class="check-in-date-LOdqgG tahoma-regular-normal-dove-gray-20px">Check in Date:</div>
              <div class="check-out-date-LOdqgG tahoma-regular-normal-dove-gray-20px">Check out Date:</div>
              <div class="repeat-grid-9-LOdqgG">
                <div class="x06-Lj5p2i">
                  <div class="reservation-date-uXLum4 tahoma-regular-normal-dove-gray-20px">Reservation Date:</div>
                </div>
                <div class="x1-Lj5p2i">
                  <div class="status-rSFDdQ tahoma-regular-normal-dove-gray-20px">Status:</div>
                </div>
                <div class="x2-Lj5p2i"><div class="notes-kpcXfr tahoma-regular-normal-dove-gray-20px">Notes:</div></div>
              </div>
            </div>
          </div>
          <div class="group-25-mRBDRo">
            <div class="rectangle-50-oP4yB4 border-1-5px-iron"></div>
            <div class="check-in-date-oP4yB4 tahoma-regular-normal-scarpa-flow-16px">Check in Date</div>
            <input
              class="enter-check-in-date-oP4yB4 tahoma-regular-normal-dove-gray-16px"
              name="enter-check-in-date2"
              placeholder="Enter check in date"
            />
          </div>
          <div class="reservation-information-mRBDRo sourcesanspro-semi-bold-dove-gray-50px">
            Reservation Information
          </div>
          <img class="black-copy-mRBDRo" src="img/black---copy-1@1x.png" />
          <div class="button-raised-f-isabled-primary-mRBDRo">
            <button class="mdc-button mdc-button--raised" data-id="anima-widget">
              <span class="mdc-button__ripple"></span> <span class="mdc-button__label">Find Reservation</span>
            </button>
            <script>
              mdc.autoInit();
              new mdc.ripple.MDCRipple(document.querySelector(".button-raised-f-isabled-primary-mRBDRo .mdc-button"));
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
