/* screen - customer-checkout */

.customer-checkout {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.customer-checkout .core-component-button-standard-10xrHs {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.customer-checkout .background-UdkBzb {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.customer-checkout .back-UdkBzb {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.customer-checkout .repeat-grid-17-10xrHs {
  background-color: transparent;
  height: 492px;
  position: absolute;
  right: calc(49.94% - 211px);
  top: 36px;
  width: 422px;
}

.customer-checkout .x07-MJahJV {
  background-color: transparent;
  height: 492px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 424px;
}

.customer-checkout .customer-checkout-JGYxAY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.customer-checkout .black-copy-JGYxAY {
  background-color: transparent;
  height: 149px;
  left: 44px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.customer-checkout .repeat-grid-14-JGYxAY {
  background-color: transparent;
  height: 153px;
  left: 46px;
  position: absolute;
  top: 339px;
  width: 330px;
}

.customer-checkout .group-46-xYpb5A {
  background-color: transparent;
  height: 153px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 330px;
}

.customer-checkout .full-name-Wd4kVt {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 330px;
}

.customer-checkout .rectangle-50-OxGJ8b {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.customer-checkout .room-number-OxGJ8b {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.customer-checkout .enter-room-number-OxGJ8b {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 8px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 18px);
}

.customer-checkout .enter-room-number-OxGJ8b::placeholder {
  color: #70707099;
}

.customer-checkout .button-raised-f-isabled-primary-Wd4kVt {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  left: 57px;
  position: absolute;
  top: 103px;
  width: 214px;
}

.button-raised-f-isabled-primary-Wd4kVt {
  height: auto !important;
  width: auto !important;
}
