/* screen - customer-checkout */

.customer-checkout {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.customer-checkout .core-component-button-standard-10xrHs {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.customer-checkout .background-UdkBzb {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.customer-checkout .back-UdkBzb {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.customer-checkout .full-name-10xrHs {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: calc(49.95% - 165px);
  top: calc(45.73% - 34px);
  width: 330px;
}

.customer-checkout .rectangle-50-R1MUVN {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.customer-checkout .room-number-R1MUVN {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.customer-checkout .enter-room-number-R1MUVN {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 8px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 18px);
}

.customer-checkout .enter-room-number-R1MUVN::placeholder {
  color: #70707099;
}

.customer-checkout .signup-buton-10xrHs {
  background-color: transparent;
  bottom: calc(44.38% - 22px);
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: calc(49.95% - 165px);
  width: 330px;
}

.customer-checkout .rectangle-148475-gNJ59h {
  background-color: var(--blueberry);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.customer-checkout .hover-gNJ59h {
  background-color: var(--royal-blue);
  border-radius: 4px;
  cursor: pointer;
  height: 100%;
  left: 0px;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0px;
  transition: all 0.2s ease;
  width: 100%;
}

.customer-checkout .hover-gNJ59h:hover {
  opacity: 1;
}

.customer-checkout .generate-bill-gNJ59h {
  background-color: transparent;
  bottom: calc(28.26% - 8px);
  height: 27px;
  letter-spacing: 0.13px;
  line-height: 18px;
  position: absolute;
  right: calc(49.57% - 50px);
  text-align: center;
  white-space: nowrap;
  width: 100px;
}

.customer-checkout .customer-checkout-10xrHs {
  background-color: transparent;
  height: 73px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(49.83% - 211px);
  text-align: center;
  top: calc(27.19% - 20px);
  white-space: nowrap;
  width: 424px;
}

.customer-checkout .black-copy-10xrHs {
  background-color: transparent;
  height: 149px;
  object-fit: cover;
  position: absolute;
  right: calc(49.90% - 167px);
  top: 36px;
  width: 335px;
}
