/* screen - customer-information */

.customer-information {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.customer-information .core-component-button-standard-pGBa3b {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.customer-information .background-bOzGFJ {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.customer-information .back-bOzGFJ {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.customer-information .repeat-grid-20-pGBa3b {
  background-color: transparent;
  height: calc(100.00% - 166px);
  left: calc(46.61% - 337px);
  position: absolute;
  top: 36px;
  width: 724px;
}

.customer-information .x04-rQ3Dot {
  background-color: transparent;
  height: 729px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 723px;
}

.customer-information .group-12-60pKcd {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 331px;
}

.customer-information .rectangle-50-8VtCAQ {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.customer-information .customer-full-name-8VtCAQ {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 147px;
}

.customer-information .enter-full-name-8VtCAQ {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.customer-information .enter-full-name-8VtCAQ::placeholder {
  color: #70707099;
}

.customer-information .group-21-60pKcd {
  background-color: transparent;
  height: 453px;
  left: 418px;
  position: absolute;
  top: 276px;
  width: 305px;
}

.customer-information .customer-details-IrWTSC {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 174px;
}

.customer-information .group-24-IrWTSC {
  background-color: transparent;
  height: calc(100.00% - 41px);
  left: 0px;
  position: absolute;
  top: 41px;
  width: 100%;
}

.customer-information .full-name-VyoxSI {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 103px;
}

.customer-information .number-VyoxSI {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: 79px;
}

.customer-information .email-VyoxSI {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(23.32% - 6px);
  white-space: nowrap;
  width: 57px;
}

.customer-information .address-VyoxSI {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(34.20% - 9px);
  white-space: nowrap;
  width: 79px;
}

.customer-information .id-number-VyoxSI {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.08% - 12px);
  white-space: nowrap;
  width: 106px;
}

.customer-information .id-type-VyoxSI {
  background-color: transparent;
  bottom: calc(44.04% - 11px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}

.customer-information .card-number-0000-VyoxSI {
  background-color: transparent;
  bottom: calc(33.16% - 9px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.customer-information .exp-date-mmyyyy-VyoxSI {
  background-color: transparent;
  bottom: calc(21.76% - 6px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 186px;
}

.customer-information .cvv-VyoxSI {
  background-color: transparent;
  bottom: 40px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 45px;
}

.customer-information .notes-VyoxSI {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 59px;
}

.customer-information .group-25-60pKcd {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 401px;
  width: 331px;
}

.customer-information .rectangle-50-Apeqbv {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.customer-information .customer-email-Apeqbv {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 114px;
}

.customer-information .enter-email-Apeqbv {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.customer-information .enter-email-Apeqbv::placeholder {
  color: #70707099;
}

.customer-information .customer-information-60pKcd {
  background-color: transparent;
  height: auto;
  left: 144px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.customer-information .black-copy-60pKcd {
  background-color: transparent;
  height: 149px;
  left: 215px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.customer-information .group-53-TwEt2Q {
  background-color: transparent;
  bottom: 0px;
  height: 412px;
  position: absolute;
  right: 60px;
  width: 22px;
}

.customer-information .group-24-IWuIXI {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.customer-information .x1-CxyIEi {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x2-CxyIEi {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x3-CxyIEi {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(23.32% - 6px);
  white-space: nowrap;
  width: 13px;
}

.customer-information .x4-CxyIEi {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(34.20% - 9px);
  white-space: nowrap;
  width: 13px;
}

.customer-information .x5-CxyIEi {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(45.08% - 12px);
  white-space: nowrap;
  width: 13px;
}

.customer-information .x6-CxyIEi {
  background-color: transparent;
  bottom: calc(44.04% - 11px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x7-CxyIEi {
  background-color: transparent;
  bottom: calc(33.16% - 9px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x8-CxyIEi {
  background-color: transparent;
  bottom: calc(21.76% - 6px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x9-CxyIEi {
  background-color: transparent;
  bottom: 40px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 13px;
}

.customer-information .x10-CxyIEi {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.customer-information .button-raised-f-isabled-primary-60pKcd {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 504px;
  width: 251px;
}

.button-raised-f-isabled-primary-60pKcd {
  height: auto !important;
  width: auto !important;
}
