/* screen - generated-bill */

.generated-bill {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1485px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.generated-bill .title-qjpuqI {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 62px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(38.80% - 59px);
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: 152px;
}

.generated-bill .group-21-qjpuqI {
  background-color: transparent;
  height: 417px;
  left: 110px;
  position: absolute;
  top: calc(22.57% - 94px);
  width: 423px;
}

.generated-bill .customer-information-Hjrlza {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 226px;
}

.generated-bill .group-24-Hjrlza {
  background-color: transparent;
  height: calc(100.00% - 44px);
  left: 0px;
  position: absolute;
  top: 44px;
  width: 100%;
}

.generated-bill .path-1-jlNsBF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.generated-bill .name-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 60px;
}

.generated-bill .email-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 57px;
}

.generated-bill .phone-number-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(26.50% - 7px);
  white-space: nowrap;
  width: 140px;
}

.generated-bill .street-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(38.60% - 10px);
  white-space: nowrap;
  width: 62px;
}

.generated-bill .state-jlNsBF {
  background-color: transparent;
  bottom: calc(49.30% - 13px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 61px;
}

.generated-bill .country-jlNsBF {
  background-color: transparent;
  bottom: calc(37.20% - 10px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}

.generated-bill .id-number-jlNsBF {
  background-color: transparent;
  bottom: calc(25.10% - 7px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 106px;
}

.generated-bill .id-type-jlNsBF {
  background-color: transparent;
  bottom: 45px;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}

.generated-bill .credit-card-number-0000-jlNsBF {
  background-color: transparent;
  bottom: 3px;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 51px);
}

.generated-bill .date-qjpuqI {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.95% - 18px);
  text-align: left;
  top: 163px;
  white-space: nowrap;
  width: 50px;
}

.generated-bill .repeat-grid-8-qjpuqI {
  background-color: transparent;
  height: 210px;
  position: absolute;
  right: calc(22.83% - 97px);
  top: calc(18.90% - 40px);
  width: 423px;
}

.generated-bill .group-3-lxR3Jj {
  background-color: transparent;
  height: 212px;
  left: 0px;
  position: relative;
  top: -2px;
  width: 423px;
}

.generated-bill .reservation-details-aQD3Kx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.generated-bill .group-4-aQD3Kx {
  background-color: transparent;
  height: 168px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 423px;
}

.generated-bill .rectangle-148477-2PMET0 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.generated-bill .room-number-2PMET0 {
  background-color: transparent;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 136px;
}

.generated-bill .room-type-2PMET0 {
  background-color: transparent;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(36.62% - 10px);
  white-space: nowrap;
  width: 109px;
}

.generated-bill .check-in-date-2PMET0 {
  background-color: transparent;
  bottom: calc(33.80% - 9px);
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 124px;
}

.generated-bill .check-out-date-2PMET0 {
  background-color: transparent;
  bottom: 6px;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 144px;
}

.generated-bill .group-3-qjpuqI {
  background-color: transparent;
  bottom: calc(40.31% - 102px);
  height: 252px;
  left: 105px;
  position: absolute;
  width: 994px;
}

.generated-bill .rectangle-148478-mOYLvc {
  background-color: var(--white);
  height: calc(100.00% - 38px);
  left: 0px;
  position: absolute;
  top: 38px;
  width: 100%;
}

.generated-bill .charges-mOYLvc {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 84px;
}

.generated-bill .group-1-mOYLvc {
  background-color: transparent;
  height: 110px;
  left: 14px;
  position: absolute;
  top: calc(29.58% - 33px);
  width: 172px;
}

.generated-bill .room-charge-mLzhAB {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 129px;
}

.generated-bill .bar-charge-mLzhAB {
  background-color: transparent;
  bottom: calc(46.43% - 12px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}

.generated-bill .additional-charges-mLzhAB {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .group-2-mOYLvc {
  background-color: transparent;
  bottom: 14px;
  height: 67px;
  left: 14px;
  position: absolute;
  width: 67px;
}

.generated-bill .tax-iKG7B6 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 41px;
}

.generated-bill .total-iKG7B6 {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .black-copy-qjpuqI {
  background-color: transparent;
  height: 149px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 335px;
}

.generated-bill .button-raised-f-isabled-primary-qjpuqI {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: calc(32.30% - 97px);
  top: calc(34.15% - 17px);
  width: 300px;
}

.button-raised-f-isabled-primary-qjpuqI {
  height: auto !important;
  width: auto !important;
}
