/* screen - generated-bill */

.generated-bill {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1485px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.generated-bill .bill-id-qjpuqI {
  background-color: transparent;
  color: var(--dove-gray);
  font-family: var(--font-family-tahoma-regular);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  height: 62px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  right: calc(38.80% - 59px);
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: 152px;
}

.generated-bill .group-21-qjpuqI {
  background-color: transparent;
  height: 417px;
  left: 110px;
  position: absolute;
  top: calc(22.57% - 94px);
  width: 423px;
}

.generated-bill .customer-information-Hjrlza {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 226px;
}

.generated-bill .group-24-Hjrlza {
  background-color: transparent;
  height: calc(100.00% - 44px);
  left: 0px;
  position: absolute;
  top: 44px;
  width: 100%;
}

.generated-bill .path-1-jlNsBF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 100%;
}

.generated-bill .name-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 8px;
  white-space: nowrap;
  width: 60px;
}

.generated-bill .email-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 50px;
  white-space: nowrap;
  width: 57px;
}

.generated-bill .phone-number-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(26.50% - 7px);
  white-space: nowrap;
  width: 140px;
}

.generated-bill .street-jlNsBF {
  background-color: transparent;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(38.60% - 10px);
  white-space: nowrap;
  width: 62px;
}

.generated-bill .state-jlNsBF {
  background-color: transparent;
  bottom: calc(49.30% - 13px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 61px;
}

.generated-bill .country-jlNsBF {
  background-color: transparent;
  bottom: calc(37.20% - 10px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 84px;
}

.generated-bill .id-number-jlNsBF {
  background-color: transparent;
  bottom: calc(25.10% - 7px);
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 106px;
}

.generated-bill .id-type-jlNsBF {
  background-color: transparent;
  bottom: 45px;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 80px;
}

.generated-bill .credit-card-number-jlNsBF {
  background-color: transparent;
  bottom: 3px;
  height: 26px;
  left: 14px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 197px;
}

.generated-bill .group-55-Hjrlza {
  background-color: transparent;
  height: calc(100.00% - 57px);
  position: absolute;
  right: calc(47.09% - 5px);
  top: 50px;
  width: 11px;
}

.generated-bill .x1-GYXIj9 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .x2-GYXIj9 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 44px;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x3-GYXIj9 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(25.75% - 7px);
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x4-GYXIj9 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(38.32% - 10px);
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x5-GYXIj9 {
  background-color: transparent;
  bottom: calc(49.10% - 13px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x6-GYXIj9 {
  background-color: transparent;
  bottom: calc(36.53% - 9px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x7-GYXIj9 {
  background-color: transparent;
  bottom: calc(23.95% - 6px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x8-GYXIj9 {
  background-color: transparent;
  bottom: 38px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x9-GYXIj9 {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .date-qjpuqI {
  background-color: transparent;
  height: 26px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  right: calc(35.95% - 18px);
  text-align: left;
  top: 163px;
  white-space: nowrap;
  width: 50px;
}

.generated-bill .group-3-qjpuqI {
  background-color: transparent;
  height: 212px;
  position: absolute;
  right: calc(22.83% - 97px);
  top: calc(18.77% - 40px);
  width: 423px;
}

.generated-bill .reservation-details-mOYLvc {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 198px;
}

.generated-bill .group-4-mOYLvc {
  background-color: transparent;
  height: calc(100.00% - 44px);
  left: 0px;
  position: absolute;
  top: 44px;
  width: 100%;
}

.generated-bill .rectangle-148477-CfKYj3 {
  background-color: var(--white);
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.generated-bill .room-number-CfKYj3 {
  background-color: transparent;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 10px;
  white-space: nowrap;
  width: 136px;
}

.generated-bill .room-type-CfKYj3 {
  background-color: transparent;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(36.62% - 10px);
  white-space: nowrap;
  width: 109px;
}

.generated-bill .check-in-date-CfKYj3 {
  background-color: transparent;
  bottom: calc(33.80% - 9px);
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 131px;
}

.generated-bill .check-out-date-CfKYj3 {
  background-color: transparent;
  bottom: 6px;
  height: 26px;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 144px;
}

.generated-bill .group-56-mOYLvc {
  background-color: transparent;
  bottom: 10px;
  height: 150px;
  left: calc(42.64% - 9px);
  position: absolute;
  width: 22px;
}

.generated-bill .x10-UnPnwU {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .x11-UnPnwU {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(35.48% - 9px);
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x12-UnPnwU {
  background-color: transparent;
  bottom: calc(30.65% - 8px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x13-UnPnwU {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .group-3-Hefdbv {
  background-color: transparent;
  bottom: calc(40.31% - 102px);
  height: 252px;
  left: 105px;
  position: absolute;
  width: 994px;
}

.generated-bill .rectangle-148478-b2PSEo {
  background-color: var(--white);
  height: calc(100.00% - 38px);
  left: 0px;
  position: absolute;
  top: 38px;
  width: 100%;
}

.generated-bill .charges-b2PSEo {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 84px;
}

.generated-bill .group-1-b2PSEo {
  background-color: transparent;
  height: 110px;
  left: 14px;
  position: absolute;
  top: calc(29.58% - 33px);
  width: 172px;
}

.generated-bill .room-charge-lL2Xz2 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 129px;
}

.generated-bill .bar-charge-lL2Xz2 {
  background-color: transparent;
  bottom: calc(46.43% - 12px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 107px;
}

.generated-bill .additional-charges-lL2Xz2 {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .group-2-b2PSEo {
  background-color: transparent;
  bottom: 14px;
  height: 67px;
  left: 14px;
  position: absolute;
  width: 67px;
}

.generated-bill .tax-CFP0qj {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 41px;
}

.generated-bill .total-CFP0qj {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .group-57-b2PSEo {
  background-color: transparent;
  height: 110px;
  left: calc(20.78% - 5px);
  position: absolute;
  top: calc(29.58% - 33px);
  width: 22px;
}

.generated-bill .x13-jnXB40 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .x14-jnXB40 {
  background-color: transparent;
  bottom: calc(46.43% - 12px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .x15-jnXB40 {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .group-58-b2PSEo {
  background-color: transparent;
  bottom: 14px;
  height: 67px;
  left: calc(20.78% - 5px);
  position: absolute;
  width: 22px;
}

.generated-bill .x16-Uvcsy8 {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.generated-bill .x17-Uvcsy8 {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 100%;
}

.generated-bill .black-copy-qjpuqI {
  background-color: transparent;
  height: 149px;
  left: 68px;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 335px;
}

.generated-bill .button-raised-filled-qjpuqI {
  background-color: transparent;
  height: 50px;
  position: absolute;
  right: calc(32.52% - 98px);
  top: calc(46.48% - 23px);
  width: 300px;
}

.generated-bill .group-46-qjpuqI {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: calc(30.24% - 100px);
  top: calc(33.55% - 25px);
  width: 330px;
}

.generated-bill .full-name-0IlcOO {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}

.generated-bill .rectangle-50-C1lp6Z {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.generated-bill .room-number-C1lp6Z {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.generated-bill .enter-room-number-C1lp6Z {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 8px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 18px);
}

.generated-bill .enter-room-number-C1lp6Z::placeholder {
  color: #70707099;
}

.generated-bill .group-12-qjpuqI {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: calc(30.17% - 100px);
  top: calc(40.43% - 30px);
  width: 331px;
}

.generated-bill .rectangle-50-5N20Z2 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.generated-bill .customer-full-name-5N20Z2 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 147px;
}

.generated-bill .enter-full-name-5N20Z2 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.generated-bill .enter-full-name-5N20Z2::placeholder {
  color: #70707099;
}

.button-raised-filled-qjpuqI {
  height: auto !important;
  width: auto !important;
}
