/* screen - main-menu */

.main-menu {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.main-menu .core-component-button-standard-gTQfpN {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 34px;
  top: 32px;
  width: 57px;
}

.main-menu .background-iRsJCI {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.main-menu .exit-iRsJCI {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 13px);
  text-align: left;
  white-space: nowrap;
  width: 28px;
}

.main-menu .repeat-grid-15-gTQfpN {
  background-color: transparent;
  height: 555px;
  left: 204px;
  position: absolute;
  top: 36px;
  width: calc(100.00% - 408px);
}

.main-menu .x0-xfNxMu {
  background-color: transparent;
  height: 555px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 891px;
}

.main-menu .management-menu-huVP4W {
  background-color: transparent;
  height: auto;
  left: 241px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.main-menu .black-copy-huVP4W {
  background-color: transparent;
  height: 149px;
  left: 279px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.main-menu .group-47-huVP4W {
  background-color: transparent;
  height: 242px;
  left: 0px;
  position: absolute;
  top: 313px;
  width: 891px;
}

.main-menu .button-raised-f-isabled-primary-ExidIM {
  background-color: transparent;
  cursor: pointer;
  height: 57px;
  position: absolute;
  right: 0px;
  top: 3px;
  width: 423px;
}

.main-menu .button-raised-f-isabled-primary-Ax570f {
  background-color: transparent;
  cursor: pointer;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 423px;
}

.main-menu .button-raised-f-isabled-primary-hCWoZi {
  background-color: transparent;
  bottom: 0px;
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 423px;
}

.main-menu .button-raised-f-isabled-primary-hjnUZy {
  background-color: transparent;
  bottom: calc(49.19% - 28px);
  cursor: pointer;
  height: 57px;
  left: 0px;
  position: absolute;
  width: 423px;
}

.main-menu .button-raised-f-isabled-primary-mTYLuC {
  background-color: transparent;
  bottom: calc(49.19% - 28px);
  cursor: pointer;
  height: 57px;
  position: absolute;
  right: 0px;
  width: 423px;
}

.button-raised-f-isabled-primary-ExidIM {
  height: auto !important;
  width: auto !important;
}

.button-raised-f-isabled-primary-Ax570f {
  height: auto !important;
  width: auto !important;
}

.button-raised-f-isabled-primary-hCWoZi {
  height: auto !important;
  width: auto !important;
}

.button-raised-f-isabled-primary-hjnUZy {
  height: auto !important;
  width: auto !important;
}

.button-raised-f-isabled-primary-mTYLuC {
  height: auto !important;
  width: auto !important;
}
