/* screen - new-reservation-existing-or-new-customer */

.new-reservation-existing-or-new-customer {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.new-reservation-existing-or-new-customer .core-component-button-standard-XPnWMx {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.new-reservation-existing-or-new-customer .background-ImUXdx {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.new-reservation-existing-or-new-customer .back-ImUXdx {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.new-reservation-existing-or-new-customer .repeat-grid-21-XPnWMx {
  background-color: transparent;
  height: 345px;
  left: calc(50.00% - 296px);
  position: absolute;
  top: 36px;
  width: 592px;
}

.new-reservation-existing-or-new-customer .x01-xmnf9I {
  background-color: transparent;
  height: 345px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 592px;
}

.new-reservation-existing-or-new-customer .new-reservation-nCoEx5 {
  background-color: transparent;
  height: auto;
  left: 116px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.new-reservation-existing-or-new-customer .black-copy-nCoEx5 {
  background-color: transparent;
  height: 149px;
  left: 130px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.new-reservation-existing-or-new-customer .button-raised-f-isabled-primary-G02xTx {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  height: 50px;
  left: 220px;
  position: absolute;
  top: 295px;
  width: 279px;
}

.button-raised-f-isabled-primary-nCoEx5 {
  height: auto !important;
  width: auto !important;
}

.button-raised-f-isabled-primary-G02xTx {
  height: auto !important;
  width: auto !important;
}
