/* screen - new-reservation-creation */

.new-reservation-creation {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1516px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.new-reservation-creation .core-component-button-standard-8kYgXk {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.new-reservation-creation .background-cpD6KC {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.new-reservation-creation .back-cpD6KC {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.new-reservation-creation .repeat-grid-22-8kYgXk {
  background-color: transparent;
  height: 1168px;
  position: absolute;
  right: calc(45.77% - 357px);
  top: 36px;
  width: 779px;
}

.new-reservation-creation .x08-d9qNsA {
  background-color: transparent;
  height: 1168px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 779px;
}

.new-reservation-creation .new-reservation-DbxXF9 {
  background-color: transparent;
  height: auto;
  left: 187px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.new-reservation-creation .black-copy-DbxXF9 {
  background-color: transparent;
  height: 149px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.new-reservation-creation .group-43-DbxXF9 {
  background-color: transparent;
  height: 787px;
  left: 0px;
  position: absolute;
  top: 296px;
  width: 779px;
}

.new-reservation-creation .rectangle-148481-MzbuTn {
  background-color: var(--white);
  bottom: calc(27.82% - 86px);
  height: 309px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .rectangle-148480-MzbuTn {
  background-color: var(--white);
  height: 334px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.new-reservation-creation .group-34-MzbuTn {
  background-color: transparent;
  height: 75px;
  left: 21px;
  position: absolute;
  top: 20px;
  width: 331px;
}

.new-reservation-creation .rectangle-50-CnM4ra {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .full-name-CnM4ra {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 73px;
}

.new-reservation-creation .enter-first-and-last-name-CnM4ra {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-first-and-last-name-CnM4ra::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-35-MzbuTn {
  background-color: transparent;
  height: 75px;
  left: 21px;
  position: absolute;
  top: calc(17.56% - 13px);
  width: 331px;
}

.new-reservation-creation .rectangle-50-ECxypT {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .id-number-ECxypT {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}

.new-reservation-creation .enter-id-number-ECxypT {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-id-number-ECxypT::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-36-MzbuTn {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 65px;
  top: 20px;
  width: 331px;
}

.new-reservation-creation .rectangle-50-oemYX9 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .check-in-date-oemYX9 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 101px;
}

.new-reservation-creation .enter-check-in-date-oemYX9 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-check-in-date-oemYX9::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-37-MzbuTn {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 65px;
  top: calc(17.56% - 13px);
  width: 331px;
}

.new-reservation-creation .rectangle-50-bnJJ94 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .check-out-date-bnJJ94 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 112px;
}

.new-reservation-creation .enter-check-out-date-bnJJ94 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-check-out-date-bnJJ94::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-38-MzbuTn {
  background-color: transparent;
  height: 75px;
  left: 22px;
  position: absolute;
  top: calc(32.30% - 24px);
  width: 331px;
}

.new-reservation-creation .rectangle-50-LTaEZV {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .number-of-guests-LTaEZV {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 131px;
}

.new-reservation-creation .enter-number-of-guests-LTaEZV {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-number-of-guests-LTaEZV::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-39-MzbuTn {
  background-color: transparent;
  bottom: calc(49.02% - 37px);
  height: 75px;
  left: 22px;
  position: absolute;
  width: 331px;
}

.new-reservation-creation .rectangle-50-iC9fDU {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .room-type-iC9fDU {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 83px;
}

.new-reservation-creation .enter-room-type-iC9fDU {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-room-type-iC9fDU::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-40-MzbuTn {
  background-color: transparent;
  bottom: 0px;
  height: 124px;
  left: 15px;
  position: absolute;
  width: calc(100.00% - 85px);
}

.new-reservation-creation .rectangle-50-ShpxtZ {
  background-color: var(--white);
  border-radius: 4px;
  height: calc(100.00% - 25px);
  left: 0px;
  position: absolute;
  top: 25px;
  width: 100%;
}

.new-reservation-creation .notes-ShpxtZ {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}

.new-reservation-creation .enter-notes-ShpxtZ {
  background-color: transparent;
  border: 0;
  bottom: 9px;
  height: 73px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: calc(100.00% - 14px);
}

.new-reservation-creation .enter-notes-ShpxtZ::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-41-MzbuTn {
  background-color: transparent;
  bottom: calc(36.10% - 27px);
  height: 75px;
  left: 22px;
  position: absolute;
  width: 331px;
}

.new-reservation-creation .rectangle-50-KExHz9 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .employee-full-name-KExHz9 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 148px;
}

.new-reservation-creation .enter-employee-full-name-KExHz9 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-employee-full-name-KExHz9::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-42-MzbuTn {
  background-color: transparent;
  bottom: calc(49.30% - 37px);
  height: 75px;
  position: absolute;
  right: 65px;
  width: 331px;
}

.new-reservation-creation .rectangle-50-Tsj9Ld {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .room-number-Tsj9Ld {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.new-reservation-creation .enter-room-number-Tsj9Ld {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-room-number-Tsj9Ld::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-44-MzbuTn {
  background-color: transparent;
  bottom: calc(36.10% - 27px);
  height: 75px;
  position: absolute;
  right: 65px;
  width: 331px;
}

.new-reservation-creation .rectangle-50-VgKUCV {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .rate-VgKUCV {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 34px;
}

.new-reservation-creation .enter-rooms-rate-VgKUCV {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-rooms-rate-VgKUCV::placeholder {
  color: #70707099;
}

.new-reservation-creation .group-45-MzbuTn {
  background-color: transparent;
  bottom: calc(22.89% - 17px);
  height: 75px;
  position: absolute;
  right: 65px;
  width: 331px;
}

.new-reservation-creation .rectangle-50-8KE7wX {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-reservation-creation .max-occupancy-8KE7wX {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 114px;
}

.new-reservation-creation .enter-rooms-max-occupancy-8KE7wX {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-reservation-creation .enter-rooms-max-occupancy-8KE7wX::placeholder {
  color: #70707099;
}

.new-reservation-creation .button-raised-f-isabled-primary-DbxXF9 {
  background-color: transparent;
  cursor: pointer;
  height: 49px;
  left: 16px;
  position: absolute;
  top: 1119px;
  width: 314px;
}

.button-raised-f-isabled-primary-DbxXF9 {
  height: auto !important;
  width: auto !important;
}
