/* screen - new-customer */

.new-customer {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 1500px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.new-customer .core-component-button-standard-wz9xay {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.new-customer .background-7TupTi {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.new-customer .back-7TupTi {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.new-customer .repeat-grid-16-wz9xay {
  background-color: transparent;
  height: calc(100.00% - 198px);
  left: 305px;
  position: absolute;
  top: 36px;
  width: calc(100.00% - 610px);
}

.new-customer .x09-9A0vIN {
  background-color: transparent;
  height: 1302px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 689px;
}

.new-customer .new-customer-ujztJx {
  background-color: transparent;
  height: auto;
  left: 188px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.new-customer .black-copy-ujztJx {
  background-color: transparent;
  height: 149px;
  left: 178px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.new-customer .repeat-grid-11-ujztJx {
  background-color: transparent;
  height: 1020px;
  left: 0px;
  position: absolute;
  top: 282px;
  width: 689px;
}

.new-customer .x010-i2MO5A {
  background-color: transparent;
  height: 1020px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 689px;
}

.new-customer .full-name-gz7shM {
  background-color: transparent;
  height: 928px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 689px;
}

.new-customer .group-4-nZeTof {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 331px;
}

.new-customer .rectangle-50-3b01W7 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .first-name-3b01W7 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 79px;
}

.new-customer .enter-first-name-3b01W7 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-first-name-3b01W7::placeholder {
  color: #70707099;
}

.new-customer .group-5-nZeTof {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 331px;
}

.new-customer .rectangle-50-YVxv6N {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .last-name-YVxv6N {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 78px;
}

.new-customer .enter-last-name-YVxv6N {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-last-name-YVxv6N::placeholder {
  color: #70707099;
}

.new-customer .group-6-nZeTof {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 119px;
  width: 331px;
}

.new-customer .rectangle-50-pOUDHA {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .phone-number-pOUDHA {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 108px;
}

.new-customer .enter-phone-number-pOUDHA {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-phone-number-pOUDHA::placeholder {
  color: #70707099;
}

.new-customer .group-7-nZeTof {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: 119px;
  width: 331px;
}

.new-customer .rectangle-50-LBnGSp {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .email-LBnGSp {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 41px;
}

.new-customer .enter-email-LBnGSp {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-email-LBnGSp::placeholder {
  color: #70707099;
}

.new-customer .group-8-nZeTof {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: calc(29.19% - 22px);
  width: 331px;
}

.new-customer .rectangle-50-KMepWM {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .street-KMepWM {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 45px;
}

.new-customer .enter-street-KMepWM {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-street-KMepWM::placeholder {
  color: #70707099;
}

.new-customer .group-9-nZeTof {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: calc(40.33% - 30px);
  width: 331px;
}

.new-customer .rectangle-50-IkaJCi {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .state-IkaJCi {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 39px;
}

.new-customer .enter-state-IkaJCi {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-state-IkaJCi::placeholder {
  color: #70707099;
}

.new-customer .group-10-nZeTof {
  background-color: transparent;
  height: 75px;
  position: absolute;
  right: 0px;
  top: calc(29.19% - 22px);
  width: 331px;
}

.new-customer .rectangle-50-xxGz6W {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .country-xxGz6W {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 58px;
}

.new-customer .enter-country-xxGz6W {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-country-xxGz6W::placeholder {
  color: #70707099;
}

.new-customer .group-12-nZeTof {
  background-color: transparent;
  bottom: calc(44.43% - 33px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.new-customer .rectangle-50-GaBIry {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .id-number-GaBIry {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 81px;
}

.new-customer .enter-street-GaBIry {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-street-GaBIry::placeholder {
  color: #70707099;
}

.new-customer .group-12-1DzybB {
  background-color: transparent;
  bottom: calc(44.43% - 33px);
  height: 75px;
  position: absolute;
  right: 0px;
  width: 331px;
}

.new-customer .rectangle-50-Rp2Umb {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .id-type-Rp2Umb {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 59px;
}

.new-customer .enter-street-Rp2Umb {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .enter-street-Rp2Umb::placeholder {
  color: #70707099;
}

.new-customer .group-12-FzW8B9 {
  background-color: transparent;
  bottom: 0px;
  height: 99px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .rectangle-50-MfypYy {
  background-color: var(--white);
  border-radius: 4px;
  height: calc(100.00% - 25px);
  left: 0px;
  position: absolute;
  top: 25px;
  width: 100%;
}

.new-customer .notes-MfypYy {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 43px;
}

.new-customer .enter-note-MfypYy {
  background-color: transparent;
  border: 0;
  bottom: 8px;
  height: 49px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  width: calc(100.00% - 5px);
}

.new-customer .enter-note-MfypYy::placeholder {
  color: #70707099;
}

.new-customer .group-18-nZeTof {
  background-color: transparent;
  bottom: calc(29.19% - 22px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.new-customer .rectangle-50-PtgaFR {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .card-number-PtgaFR {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 97px;
}

.new-customer .x0000000000000000-PtgaFR {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .x0000000000000000-PtgaFR::placeholder {
  color: #70707099;
}

.new-customer .group-19-nZeTof {
  background-color: transparent;
  bottom: calc(18.05% - 14px);
  height: 75px;
  left: 0px;
  position: absolute;
  width: 331px;
}

.new-customer .rectangle-50-dFOO22 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .cvv-dFOO22 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 31px;
}

.new-customer .x000-dFOO22 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .x000-dFOO22::placeholder {
  color: #70707099;
}

.new-customer .group-20-nZeTof {
  background-color: transparent;
  bottom: calc(29.19% - 22px);
  height: 75px;
  position: absolute;
  right: 0px;
  width: 331px;
}

.new-customer .rectangle-50-xeCLKW {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.new-customer .expiration-date-xeCLKW {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 110px;
}

.new-customer .mmyy-xeCLKW {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.new-customer .mmyy-xeCLKW::placeholder {
  color: #70707099;
}

.new-customer .button-raised-f-isabled-primary-gz7shM {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 970px;
  width: 398px;
}

.button-raised-f-isabled-primary-gz7shM {
  height: auto !important;
  width: auto !important;
}
