/* screen - reservation-information */

.reservation-information {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.reservation-information .core-component-button-standard-k9N6Nn {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.reservation-information .background-F80eAe {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reservation-information .back-F80eAe {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.reservation-information .repeat-grid-19-k9N6Nn {
  background-color: transparent;
  height: 693px;
  left: calc(41.43% - 265px);
  position: absolute;
  top: 36px;
  width: 640px;
}

.reservation-information .x05-31BsdZ {
  background-color: transparent;
  height: 693px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 641px;
}

.reservation-information .group-12-mRBDRo {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 303px;
  width: 331px;
}

.reservation-information .rectangle-50-A6x9na {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.reservation-information .room-number-A6x9na {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.reservation-information .enter-room-number-A6x9na {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.reservation-information .enter-room-number-A6x9na::placeholder {
  color: #70707099;
}

.reservation-information .group-21-mRBDRo {
  background-color: transparent;
  height: 417px;
  left: 418px;
  position: absolute;
  top: 276px;
  width: 198px;
}

.reservation-information .reservation-details-6LnMSY {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.reservation-information .group-24-6LnMSY {
  background-color: transparent;
  height: calc(100.00% - 41px);
  left: 0px;
  position: absolute;
  top: 41px;
  width: 166px;
}

.reservation-information .customer-name-LOdqgG {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% - 9px);
}

.reservation-information .number-of-guests-LOdqgG {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 46px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.reservation-information .room-number-LOdqgG {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(25.71% - 7px);
  white-space: nowrap;
  width: 136px;
}

.reservation-information .room-type-LOdqgG {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(37.71% - 10px);
  white-space: nowrap;
  width: 109px;
}

.reservation-information .check-in-date-LOdqgG {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(49.71% - 13px);
  white-space: nowrap;
  width: 131px;
}

.reservation-information .check-out-date-LOdqgG {
  background-color: transparent;
  bottom: calc(38.29% - 10px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 24px);
}

.reservation-information .repeat-grid-9-LOdqgG {
  background-color: transparent;
  bottom: 0px;
  height: 120px;
  left: 0px;
  position: absolute;
  width: calc(100.00% - 10px);
}

.reservation-information .x06-Lj5p2i {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 160px;
}

.reservation-information .reservation-date-uXLum4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.reservation-information .x1-Lj5p2i {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 44px;
  width: 64px;
}

.reservation-information .status-rSFDdQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.reservation-information .x2-Lj5p2i {
  background-color: transparent;
  height: 24px;
  left: 0px;
  position: absolute;
  top: 88px;
  width: 59px;
}

.reservation-information .notes-kpcXfr {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: auto;
}

.reservation-information .group-25-mRBDRo {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 401px;
  width: 331px;
}

.reservation-information .rectangle-50-oP4yB4 {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.reservation-information .check-in-date-oP4yB4 {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 101px;
}

.reservation-information .enter-check-in-date-oP4yB4 {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.reservation-information .enter-check-in-date-oP4yB4::placeholder {
  color: #70707099;
}

.reservation-information .reservation-information-mRBDRo {
  background-color: transparent;
  height: auto;
  left: 115px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 188px;
  white-space: nowrap;
  width: auto;
}

.reservation-information .black-copy-mRBDRo {
  background-color: transparent;
  height: 149px;
  left: 210px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.reservation-information .button-raised-f-isabled-primary-mRBDRo {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 504px;
  width: 270px;
}

.button-raised-f-isabled-primary-mRBDRo {
  height: auto !important;
  width: auto !important;
}
