/* screen - room-information */

.room-information {
  background-color: var(--white);
  height: 100vh;
  margin: 0px;
  min-height: 895px;
  min-width: 1299px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.room-information .core-component-button-standard-5Fdaa3 {
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 34px;
  width: 65px;
}

.room-information .background-U6w5pt {
  background-color: var(--bright-red);
  border-radius: 4px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.room-information .back-U6w5pt {
  background-color: transparent;
  bottom: calc(25.00% - 6px);
  height: 24px;
  letter-spacing: 0.00px;
  line-height: 16px;
  position: absolute;
  right: calc(44.83% - 16px);
  text-align: left;
  white-space: nowrap;
  width: 36px;
}

.room-information .repeat-grid-18-5Fdaa3 {
  background-color: transparent;
  height: 590px;
  left: calc(38.05% - 217px);
  position: absolute;
  top: 36px;
  width: 571px;
}

.room-information .x02-sRJeUV {
  background-color: transparent;
  height: 590px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 571px;
}

.room-information .black-copy-0F8SLc {
  background-color: transparent;
  height: 149px;
  left: 206px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 335px;
}

.room-information .repeat-grid-13-0F8SLc {
  background-color: transparent;
  height: 413px;
  left: 0px;
  position: absolute;
  top: 177px;
  width: 571px;
}

.room-information .x03-HLV7xs {
  background-color: transparent;
  height: 413px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 572px;
}

.room-information .group-12-Qws9xv {
  background-color: transparent;
  height: 75px;
  left: 0px;
  position: absolute;
  top: 165px;
  width: 331px;
}

.room-information .rectangle-50-SdM3bo {
  background-color: var(--white);
  border-radius: 4px;
  bottom: 0px;
  height: 50px;
  left: 0px;
  position: absolute;
  width: 100%;
}

.room-information .room-number-SdM3bo {
  background-color: transparent;
  height: 21px;
  left: 0px;
  letter-spacing: 0.11px;
  line-height: 16px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 105px;
}

.room-information .enter-room-number-SdM3bo {
  background-color: transparent;
  border: 0;
  bottom: calc(20.75% - 5px);
  height: 22px;
  left: 7px;
  letter-spacing: 0.05px;
  line-height: 24px;
  padding: 0;
  position: absolute;
  resize: none;
  text-align: left;
  white-space: nowrap;
  width: calc(100.00% - 17px);
}

.room-information .enter-room-number-SdM3bo::placeholder {
  color: #70707099;
}

.room-information .group-21-Qws9xv {
  background-color: transparent;
  height: 275px;
  left: 418px;
  position: absolute;
  top: 138px;
  width: 136px;
}

.room-information .room-details-dfK0eC {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.room-information .group-24-dfK0eC {
  background-color: transparent;
  height: calc(100.00% - 41px);
  left: 0px;
  position: absolute;
  top: 41px;
  width: calc(100.00% - 2px);
}

.inline_room_id {
  border: 3px solid #fff;
  padding: 20px;
}

.room-information .inline_room_id .room-id-kDNP8i {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50%;
}

.room-information .inline_room_id .rooms_id {
  background-color: transparent;
  height: 26px;
  left: 90px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 50%;
}

.inline_room_type {
  border: 3px solid #fff;
  padding: 20px;
}

.room-information .room-type-kDNP8i {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(21.15% - 6px);
  white-space: nowrap;
  width: 109px;
}

.room-information .inline_room_type .rooms_type {
  background-color: transparent;
  height: 26px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(21.15% - 6px);
  white-space: nowrap;
  width: 50%;
}

.inline_room_number {
  border: 3px solid #fff;
  padding: 20px;
}

.room-information .room-number-kDNP8i {
  background-color: transparent;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(41.35% - 11px);
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.room-information .inline_room_number .rooms_number {
  background-color: transparent;
  height: 26px;
  left: 140px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  top: calc(41.35% - 11px);
  white-space: nowrap;
  width: calc(100.00% + 2px);
}

.inline_room_rate {
  border: 3px solid #fff;
  padding: 20px;
}

.room-information .rate-kDNP8i {
  background-color: transparent;
  bottom: calc(38.46% - 10px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 49px;
}

.room-information .inline_room_rate .rooms_rate {
  background-color: transparent;
  bottom: calc(38.46% - 10px);
  height: 26px;
  left: 60px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 49px;
}

.inline_room_occupancy {
  border: 3px solid #fff;
  padding: 20px;
}

.room-information .occupancy-kDNP8i {
  background-color: transparent;
  bottom: calc(18.27% - 5px);
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 111px;
}

.room-information .rooms_occupancy {
  background-color: transparent;
  bottom: calc(18.27% - 5px);
  height: 26px;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 111px;
}




.room-information .status-kDNP8i {
  background-color: transparent;
  bottom: -4px;
  height: 26px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 20px;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 64px;
}

.room-information .room-information-Qws9xv {
  background-color: transparent;
  height: auto;
  left: 176px;
  letter-spacing: 0.00px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
  width: auto;
}

.room-information .button-raised-f-isabled-primary-Qws9xv {
  background-color: transparent;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 264px;
  width: 172px;
}

.button-raised-f-isabled-primary-Qws9xv {
  height: auto !important;
  width: auto !important;
}
